.alert-message{
    font-size: 1.4rem;
    color: rgb(4, 12, 12);
    font-weight: 900;
}

.alert-container{
    width: 50%;
    height:fit-content;
    border-radius: 10px;
}

@media (max-width: 560px) {
    .alert-container{
        width: 80%;
    }
}