.post-container {
    width: 60%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.postTitle {
    font-size: 2.6em;
    text-transform: uppercase;
}

.aboutPara {
    font-size: 1.2em;
}

.quote {
    font-size: 1.2em;
    text-align: center;
    color: rgb(204, 204, 204);
    border: 3px solid white;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

@media(max-width: 700px) {
    .post-container {
        width: 90%;
        font-size: 0.7em;
    }
}

.date {
    font-size: 1.1em;
    border-bottom: 3px solid rgb(235, 235, 235);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important
}

.hrStyle {
    size: 20px;
    width: 80%;
    border: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
}