.post-container{
    width: 60%;
    height: 100%;
   backdrop-filter: blur(3px);
}

.postTitle{
    font-size: 3em;
    text-transform: uppercase;
}

.aboutPara{
    font-size: 1.2em;
}
.quote{
    font-size:1.6em ;
    text-align: center;
}

@media(max-width: 700px){
   .post-container{
       width: 90%;
       font-size: 0.7em;
   }
}

.date{
    font-size: 1.1em;
}
