.footerContainer {
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 1.1em;
    backdrop-filter: blur(15px);
}


@media (max-width: 500px) {
    .footerContainer {
        padding: 1em;
        text-align: center;
        color: white;
        font-size: 0.8em;
        backdrop-filter: blur(15px);
    }
}