.loginContainer{
    backdrop-filter: blur(8px);
    width: 300px;
    margin: 0 auto;
}

@media(max-width:300px){
    .loginContainer{
        width: 200px;
    }
}

#loginButton{
    background-color: black;
    color: white;
    font-size: 1em;
}

#loginButton:hover{
    color: rgb(201, 201, 201);
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

  .btn{
	box-shadow: none !important
}

